.logo-image{
    width: 42px;
}
.mdl-layout__drawer-button{
    outline: none;
}
.userDashboard{
	cursor:pointer
}
.userDashboard span{
	margin:0 10px;
}
.brandlogoImage{
    position: relative;
    top: 5px;
}
.article-listicle{
	line-height: 1rem !important;	
}
/*.article-image{
	


	img{
		height:80px;
		width:150px;
	}
}
*/
.rectangle{
    position: absolute;
    width: 110px;
    height: 60px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}
.collection-item.article-image{
	min-height: 80px;
    padding-left: 130px;
    position: relative;	
}

.updated-by, .updated-on{
	color: #9c9c9c;
	font-size: 11px;
}
.updated-by::before{
	content: "Updated by ";
	font-weight: bold;
}
.updated-on::before{
	content: " on ";
	font-weight: bold;	
}

.article-info{
	margin: 0;
}

.empty-content{
	float: right;
	color: #eaeaea;
}

 