#toast-container{
  .toast{
      position:fixed;
      top:75px;
      right:15px;
      z-index:222;
  }
  .toast.error{
    background:#e53935;
  }
  .toast.success{
    background:#388e3c;
  }
  .toast.warning{
    background:#fbc02d;
  }
}